.ipynb_checkpoints/

__pycache__
node_modules

/supabase/.env
/supabase/.env.local

/notebooks/data
/notebooks/cifar_net.pth
/notebooks/.env
/notebooks/pages-*
/notebooks/screenshots
/notebooks/top2vec.model
/notebooks/BERTopic.model
/notebooks/BERTopic-topics-probs.pkl
/notebooks/section_outlier_scores.pkl

page-embeddings.pkl
screenshots.tar.gz
topics.model
